@import "$lib/styles/fonts.scss";
@import "$lib/styles/palette.scss";
@import "$lib/styles/mq.scss";
@import "$lib/styles/defaults.scss";
@import "./layout.scss";
@import "$lib/styles/charts.scss";
@import "$lib/styles/grid.scss";
// @import "./full-width-immersive-layout.scss"; // uncomment for full width layout
// @import "$lib/styles/enhanced_fonts.scss"; // when you need special font features such as lining figures